<% if logged_in? %>
 <div>
  <div class="container">
    <aside>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    
    <%# ここから作る　%>
    <div>
     <% @categories.each do |category|  %>
      <div>
      <h1><%= category.name %></h1>
        <% category.posts.each do |f| %>
         <p><%= link_to f.title,f.url %></p>
         <p><%= link_to "削除",f, method: :delete,
                                       data: { confirm: "You sure?" }  %></p>
        <% end %> 
      </div>
      <% end %>
      <div>
        <h1>カテゴリー設定なし</h1>
        <% @category_null_posts.each do  |post| %>
         <p><%= link_to post.title,post.url %></p>
         <p><%= link_to "削除",post, method: :delete,
                                       data: { confirm: "You sure?" }  %></p>
        <% end %>
      </div>    
     </div>
     
　　<div>
　　 <aside>
　　  <section>
        <%= render 'shared/category_form' %>
      </section>
     <aside>
      <h3>カテゴリー</h3>
      <% @categories.each do |category|  %>
      <div><%= category.name %>
      <%= link_to "削除",category, method: :delete,
                                       data: { confirm: "You sure?" }  %>
      </div>
      <% end %>
    </div>    
   </div>
  </div>
<% else %>
   <div class="container">
    <h1>Welcome to urog</h1>
    <h2>
      urogは保存しておきたいwebサイトを見やすく保管するためのツールです。
    </h2>
    <p><%= link_to "登録する",new_user_path%></p>
    <p>すでにアカウントをお持ちの方は
    <%= link_to "こちら",login_path %></p>
   </div>
<% end %>