<% if logged_in? %>
  <div id="content">
    <div class="board-main-content">
        
      <div class="postbox-wrapper">
        <div class="postbox">
          <div class="postbox-title">保存URLを追加する</div>
          <%= render 'shared/post_form' %>
        </div>
      </div>   
       <% @categories.each do |category|  %>
       <div class="list-wrapper">
            <div class="list">
              <div class="list-header"><%= category.name %></div>
              <div class="list-cards">
               <% category.posts.each do |f| %>
               <div class="list-card">
                 <div class="list-card-details">       
                   <div class="list-card-title">
                    <%= link_to f.title,f.url %>
                   </div>
                   <div class="list-card-under">
                     <div class="list-card-url"><%= link_to f.url,f.url %></div>
                     <div class="list-card-delete"><%= link_to "削除",f, method: :delete,
                                       data: { confirm: "You sure?" }  %></div>
                   </div>
                 </div>
                 
                 
               </div>
               <% end %>
               </div>
            </div>
          </div>
       <% end %>
      <div class="list-wrapper">
            <div class="list">
              <div class="list-header">カテゴリー設定なし</div>
              <div class="list-cards">
               <% @category_null_posts.each do  |post| %>
                 <div class="list-card">
                   <div class="list-card-details">       
                     <div class="list-card-title">
                       <%= link_to post.title,post.url %>
                     </div>
                     <div class="list-card-under">
                       <div class="list-card-url"><%= link_to post.url,post.url %></div>
                       <div class="list-card-delete"><%= link_to "削除",post, method: :delete,
                                       data: { confirm: "You sure?" }  %></div>
                     </div>
                     
                   </div>
                 </div>
               <% end %>
              </div>
            </div>   
          </div>
      <div class="category-postbox-wrapper">
        <div class="category-post-box">
         <div class="postbox-title">＋カテゴリーを追加する</div>
         <%= render 'shared/category_form' %>
        </div>
        <div class="category-deletebox">
          <div class="postbox-title">ー カテゴリーを削除する</div>
          <div class="category-deletebox-cards">
           <% @categories.each do |category|  %>
            <div class="category-deletebox-card">
              <div class="category-deletebox-card-details">
                <div class="category-deletebox-card-title"><%= category.name %></div>
                <div class="category-deletebox-card-delete"> <%= link_to "削除",category, method: :delete,
                                       data: { confirm: "カテゴリー内のURLは全て消えてしまいますがよろしいですか？" }  %></div>
              </div>
            </div>
           <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
   <div class="container">
    <h1>Welcome to urog</h1>
    <h2>
      urogは保存しておきたいwebサイトを見やすく保管するためのツールです。
    </h2>
    <p><%= link_to "登録する",new_user_path%></p>
    <p>すでにアカウントをお持ちの方は
    <%= link_to "こちら",login_path %></p>
   </div>
<% end %>