<%= form_with model: @post,local: true do |f| %>
　<%= render 'shared/error_messages', object: f.object %>
  <div class="postform-control">
    <%= f.text_area :url, placeholder: "URLはここへ" %>
  </div>
  <div class="postform-control">
    <%= f.text_area :title, placeholder: "タイトル" %>
  </div>
  <div class="postform-control">
    <%= f.collection_select(:category_id,@categories,:id,:name,{prompt:"未選択"},{class: "cp_ipselect cp_sl01"})%>
  </div>
  <div class="postbtn-control"><%= f.submit "追加",class: "btn btn-primary"%></div>
<% end %>