<p>Find me in app/views/posts/index.html.erb</p>
<%=  link_to "新規登録",new_post_path%>
<h1>投稿</h1>


<table>
    <thead>
        <tr>
            <th>title</th>
            <th>url</th>
        </tr>
    </thead>
    <tbody>
        <% @post.each do |post| %>
        <tr>
            <td><%= post.title =%></td>
            <td><%= link_to"リンク",post.url =%></td>
            <td><%= link_to"編集", edit_post_path(post) =%></td>
            <td><%= link_to"削除", post,method: :delete =%></td>
        </tr>
        <% end %>
    </tbody>
</table>